body {
  margin: 0px;    
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;   
  background: var(--cor-07);
  background-image: url(../../img/fundo-img/model1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;   
}
h1, h2, h3, h4, ul, p, blockquote, dd {
  margin: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$='.jpg'] {
  border-radius: 4px;
}

address{
  font-style: initial;
}

*{
  color: var(--cor-00);
  box-sizing: border-box;
}

